*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    /* colour */
    --bg-primary-colour:"#101a2e";
    --bg-seconday-colour:"#16213e";

    /* Spacing */
    --space-xs:"4px";
    --space-sm:"8px";
    --space-md:"16px";
    --space-lg:"24px";
    --space-xl:"32px";
    --space-2xl:"40px";
    --space-3xl:"48px";

    /* boder radius */
    /* Spacing */
    --boder-radius-xs:"4px";
    --boder-radius-sm:"8px";
    --boder-radius-md:"16px";
    --boder-radius-lg:"24px";
    --boder-radius-xl:"32px";
    --boder-radius-2xl:"40px";
    --boder-radius-3xl:"48px";
}
